<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SWID SP App</title>

    <meta name="description" content="meta.description" />
    <meta name="keywords" content="meta.keywords" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--<link rel="stylesheet" type="text/css" media="all"-->
          <!--href="../../css/static.css" th:href="@{/css/dynamic.css}"/>-->

</head>

<body>
	<h1 style="color: DodgerBlue;">SWID SP App</h1>
    <p>
        <a href="user">User info</a> (protected)
    </p>
</body>
</html>
