doctype html
html(lang='en')
    head
        title SWID SP App : login
        meta(name="description", content="meta.description")
        meta(name="keywords", content="meta.keywords")
        meta(name='author', content='Peter Rybar, pr.rybar@gmail.com')
        meta(name="robots", content="index,follow")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        //-link(rel="stylesheet", type="text/css", media="all", href="../../css/static.css")
    body
        h1(style="color: DodgerBlue;") SWID SP App : login
        form(action="../swid-servlet/login/", method="POST")
            p
                label SWID:
                    input(type="text", name="swid", value="#{model.getEntryValue('swid')}")
                input(type="hidden", name="referer", value="/sp/user")
                input(type="submit", name="submit", value="Login")
                br
                span(class="error", style="color: red;") #{model.getEntryErrorMessage('swid')}
                span(class="error", style="color: red;") #{model.getErrorMessage()}
