<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SWID SP App : User</title>

    <meta name="description" content="meta.description" />
    <meta name="keywords" content="meta.keywords" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--<link rel="stylesheet" type="text/css" media="all"-->
          <!--href="../../css/static.css" th:href="@{/css/dynamic.css}"/>-->

</head>

<body>
	<h1 style="color: DodgerBlue;">SWID SP App : User</h1>

    <p>
        <a href="logout" th:href="@{${UserData.getLogoutPageRedirect()}}">logout</a>
    </p>

	<th:block th:if="${UserData.getSwidData()} != null">
		<h2 th:text="${UserData.getSwidData().getSwid()}">@SWID</h2>
		<h3>Data</h3>
		<dl>
			<th:block th:each="key : ${UserData.getSwidData().getData().keySet()}">
				<dt th:text="|${key}:|">key:</dt>
				<dd>
					<th:block th:each="value : ${UserData.getSwidData().getData().get(key)}">
						<strong th:text="${value}">value</strong><br />
					</th:block>
				</dd>
			</th:block>
		</dl>
	</th:block>
</body>
</html>
