/* Created by TopStyle Trial - www.topstyle4.com */

body {
	background-color:  #DFDFDF;
	color: black;	
	font-family: verdana, sans-serif;
	font-size: small;
}

.header {	
	border: 1px solid #CCF;
	padding-left: 20px;
	background-color: #DDF;

}

a {
	color: #080;
}

.middle {
	position:relative;
	margin-top: 1em;
}
.menu  li {
	list-style: none;
	display: block;
	padding: 2px;
	background-color: #DFD;
}

.menu ul {
	border: 1px solid #8F8;
	position: absolute;
	width: 18em;
	padding: 0px;
	margin: 0px;
}

.menu a {
	display:block;
	padding: 5px;
	text-decoration: none;	
}

.menu a:hover {
	background-color: #CFC
}

.content {
	margin-left:20em;
}

.footer {
	border-top: 1px solid brown;
	text-align: center;
	margin-top: 2em;
}

.banner1,.banner2,.banner3,.banner4,.banner5,.banner6 {
	text-align:center;
	font-family: Times New Roman;	
	margin: 0px;
}
.banner1,.banner2,.banner3 {
	background-color: #DEF;
}
.banner1 {
	margin-top: 1em;
	border-top: 1px solid;
	font-size: 20px;
	padding-top: 1em;
}

.banner2 {
	padding-top: 0.5em;
	font-size: 25px;
}

.banner3 {
	padding-top: 0.3em;
	font-size: 30px;
	border-bottom: 1px solid;;
	padding-bottom: 0.4em;
}
.banner4 a,.banner5 a,.banner6 a{
	width: 20em;	
	border: 1px solid;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	display: block;
	text-decoration: none;
	background-color: #EEE;
	padding: 10px;
	margin-top: 10px;
	color: #008;
}
.banner6 a {
	color: #800;
}

.loginForm {
  width: 50em;
  margin-left:auto;
  margin-right:auto;
  border: 2px outset gray;
	
}
.loginFormBanner {
	background-color: #DFD;
	padding: 10px;
	font-size:larger;	
}

.newLogin {
	width: 30em;
	text-align:left;
	border: 1px solid #D80;
	padding: 10px;
	background-color: #FEC;
	margin: 5px;
	vertical-align: bottom;
	min-height: 12em;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


.newLogin h2 {
	font-size: 1.2em;
	text-align:center;
	margin-top: 0px;
}

.newLogin table {
	margin-left:auto;
	margin-right:auto;
}

.autoLogin {
	width: 30em;
	border: 1px solid #8D0;
	padding: 10px;
	background-color: #EFC;
	vertical-align: bottom;
	margin: 5px;
	min-height: 12em;
  margin-left:auto;
  margin-right:auto;
}
.autoLogin p {
	text-align:left;
}

.autoLoginOr {
	display:block;
  text-align: center;	
}

.rejectLogin {
	margin-top: 10px;
	padding: 5px;
	width: 25em;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #800;
	background-color:#FDD;  
}

.error {
  color: red;
  font-size:larger; 
}

.aligLeft {
  text-align:left;
}

.aligCenter {
  text-align:center;
}

.aligRight {
  text-align:right;
}

img.aligLeft {
  float:left;
}

img.aligRight {
  float:right;
}

ol.spec li {
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dotted;
}

pre {
	border: 1px solid;
	background-color: white;
	padding: 10px; 
}