doctype html
html(lang='en')
    head
        title SWID SP App : deny
        meta(name="description", content="meta.description")
        meta(name="keywords", content="meta.keywords")
        meta(name='author', content='Peter Rybar, pr.rybar@gmail.com')
        meta(name="robots", content="index,follow")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        //-link(rel="stylesheet", type="text/css", media="all", href="../../css/static.css")
    body
        h1(style="color: DodgerBlue;") SWID SP App : deny
        h2(style="color: red;") Access deny
        p
            a(href="/") home
