<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SWID SP App : login</title>

    <meta name="description" content="meta.description" />
    <meta name="keywords" content="meta.keywords" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--<link rel="stylesheet" type="text/css" media="all"-->
          <!--href="../../css/static.css" th:href="@{/css/dynamic.css}"/>-->

</head>

<body>
	<h1 style="color: DodgerBlue;">SWID SP App : login</h1>

	<form action="" method="POST">
		<p>
			<label>SWID:
				<input type="text" name="swid" value="" th:value="${LoginForm.getEntryValue('swid')}" />
			</label>
			<input type="submit" name="submit" value="Login" /><br />
			<span class="error" style="color: red;" th:text="${LoginForm.getEntryErrorMessage('swid')}"></span>
			<span class="error" style="color: red;" th:text="${LoginForm.getErrorMessage()}"></span>
		</p>
	</form>

</body>
</html>
