doctype html
html(lang='en')
    head
        title SWID SP App : User
        meta(name="description", content="meta.description")
        meta(name="keywords", content="meta.keywords")
        meta(name='author', content='Peter Rybar, pr.rybar@gmail.com')
        meta(name="robots", content="index,follow")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        //-link(rel="stylesheet", type="text/css", media="all", href="../../css/static.css")
    body
        h1(style="color: DodgerBlue;") SWID SP App : User
        p
            a(href="logout", th:href="@{${model.getLogoutPageRedirect()}}") logout
        if model.getSwidData() != null
            h2 #{model.getSwidData().getSwid()} @SWID
            h3 Data
            dl
                each values, key in model.getSwidData().getData()
                    dt #{key}:
                    dd
                        each value in values
                            strong #{value}
                            br
