<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SWID IdP App : auth</title>

    <meta name="description" content="meta.description" />
    <meta name="keywords" content="meta.keywords" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--<link rel="stylesheet" type="text/css" media="all"-->
          <!--href="../../css/static.css" th:href="@{/css/dynamic.css}"/>-->

</head>

<body>
	<h1 style="color: Orange;">SWID IdP App : auth</h1>

	<p>application <strong style="color: DodgerBlue;" th:text="${AuthForm.getBase()}">App Base</strong> requires your authentication</p>
	<form action="?" method="post">
		<p>
			<th:block th:if="${AuthForm.getUser().isEmpty()}">
				<label>Login:
					<input type="text" name="login" value="" th:value="${AuthForm.getEntryValue('login')}" />
				</label>
				<span style="color: Red" th:text="${AuthForm.getEntryErrorMessage('login')}"></span>
			</th:block>

			<th:block th:if="${not AuthForm.getUser().isEmpty()}">
				<label>Login: <strong th:text="${AuthForm.getUser()}"></strong></label>
				<input type="hidden" name="login" value="" th:value="${AuthForm.getUser()}" />
			</th:block>

			<br />

			<label>Password:
				<input type="password" name="password" value="" th:value="${AuthForm.getEntryValue('password')}" />
			</label>
			<span style="color: Red" th:text="${AuthForm.getEntryErrorMessage('password')}"></span><br />

			<input type="submit" name="submit" value="Login" />
		</p>
	</form>
</body>
</html>
