doctype html
html(lang='en')
    head
        title SWID IdP App : auth
        meta(name="description", content="meta.description")
        meta(name="keywords", content="meta.keywords")
        meta(name='author', content='Peter Rybar, pr.rybar@gmail.com')
        meta(name="robots", content="index,follow")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        //-link(rel="stylesheet", type="text/css", media="all", href="../../css/static.css")
    body
        h1(style="color: Orange;") SWID IdP App : auth
        p application <strong style="color: DodgerBlue;" th:text="${model.getBase()}">App Base</strong> requires your authentication
        form(action="", method="post")
            p
                if model.getUser().isEmpty()
                    label Login:
                        input(type="text", name="login", value="#{model.getEntryValue('login')}")
                    span(style="color: Red") #{model.getEntryErrorMessage('login')}
                if !model.getUser().isEmpty()
                    label Login:
                        strong #{model.getUser()}
                    input(type="hidden", name="login", value="#{model.getUser()}")
                br
                label Password:
                    input(type="password", name="password", value="#{model.getEntryValue('password')}")
                span(style="color: Red") #{model.getEntryErrorMessage('password')}
                br
                input(type="submit", name="submit", value="Login")
