<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SWID IdP App</title>

    <meta name="description" content="meta.description" />
    <meta name="keywords" content="meta.keywords" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--<link rel="stylesheet" type="text/css" media="all"-->
          <!--href="../../css/static.css" th:href="@{/css/dynamic.css}"/>-->

</head>

<body>
	<h1 style="color: Orange;">SWID IdP App</h1>
	<p>
		<strong>SWID</strong> stands for <strong>Single Web ID</strong>.<br />
		Simple, user friendly and easy to implement Web Single Sign On.
	</p>
</body>
</html>
